In [2]:
import pandas as pd
import gmaps
import requests

from config import g_key

In [3]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nikolskoye,RU,2020-06-25 23:03:33,59.70,30.79,66.20,72,0,4.47
1,1,Pacific Grove,US,2020-06-25 23:02:00,36.62,-121.92,69.01,68,40,14.99
2,2,Punta Arenas,CL,2020-06-25 23:03:33,-53.15,-70.92,30.20,92,11,5.82
3,3,Sitka,US,2020-06-25 23:03:33,57.05,-135.33,53.60,66,90,11.41
4,4,Pevek,RU,2020-06-25 23:03:34,69.70,170.31,33.53,94,52,15.14